.header-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;

    i{
        color: #3964da;
        margin-right: 5px;
    }

    p{
        margin-left: 20px;
    }

    a{
        margin-left: 20px;
        color: black;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    a{
        color: rgb(3, 0, 8);
        font-size: 1rem;

        &:hover{
            color:#3964da;
        }
    }

    ul{
        display: flex;
        align-items: center;
        list-style-type: none;

        li{
            margin-left: 20px;
        }
    }

    i{
        color:#3964da;
        margin-right: 5px;
    }
}

