.form-hero-wrapper{
    width: 100%;
    background-image: url('/img/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 50px 0;

    .hero{
        width: 85%;
        margin: 0 auto;
        font-size: 1.5rem;
        text-align: right;
        color: white;

        p{
            margin-top: 10px;
        }
    }

    form{
        width: 40rem;
        height: 25rem;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;
        
        input{
            width: 30rem;
            height: 3rem;
            padding: 0 15px;
            margin: 10px 0;
            border: none;
            border-bottom: 1px solid black;
            
            &[type="file"]{
                border-bottom: none;

                &:focus{
                    border-bottom: none;
                }
            }

            &:focus{
                outline: none;
                border-bottom: 1px solid blue;

                &[placeholder]{
                    font-size: 1.1rem;
                }
            }
        }

        button{
            width: 150px;
            height: 40px;
            border: none;
            background-color: #0099ff;
            border-radius: 45px;
            color: white;

            &:hover{
                background-color: white;
                color: #0099ff;
                border: 1px solid #0099ff;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .form-hero-wrapper{
        form{
            width: 25rem;

            input{
                width: 20rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .form-hero-wrapper{
        form{
            width: 20rem;

            input{
                width: 15rem;
            }
        }
    }
}